<head>
  <title>screenSharingWidget</title>
</head>

<body>
	<h2>roomid1  autoOpenOrJoin false</h2>
	<div style="width: 100%;height: 300px;">
		{{>screenSharingWidget roomid="roomid1" autoOpenOrJoin=false }}
	</div>
</body>


<template name="container">
	<span>{{state}}</span>
	<button id="start">
		start broadcast
	</button>
	<button id="open">
		open widget
	</button>
	<hr>

	{{>screenSharingContainer data=payload }}
</template>