<template name="screenSharingWidget">
	<section class="media-sharing screen-sharing-widget">
		<a id="downloader" download hidden ></a>
		<div class="video-container"></div>
		<div class="controls-container">
			<div class="controls">
				{{#if hasChild }}
					{{> Template.contentBlock scope }}
				{{ else }}
					<button data-action="attach" class="media-sharing-control" title="Attach video" > Attach Video </button>
					<button data-action="dettach" class="media-sharing-control" title="Dettach Video" > Dettach Video </button>
					<button data-action="attach/dettach" class="media-sharing-control" title="Attach/Dettach video" > Attach/Dettach video </button>

					<button data-action="play/pause" class="media-sharing-control" title="{{#if played}} paused {{else}} played {{/if}}" > {{#if played}} paused {{else}} played {{/if}} </button>
					<button data-action="mute/unmute" class="media-sharing-control" title="{{#if muted}} unmute {{else}} mute {{/if}}" > {{#if muted}} unmute {{else}} mute {{/if}} </button>
					
					<button data-action="snapshot" class="media-sharing-control" title="Snapshot" > Snapshot </button>
					<button data-action="fullscreen" class="media-sharing-control" title="{{#if fullscreen}}Exit Full Screen{{else}}Full screen{{/if}}" > {{#if fullscreen}}Exit Full Screen{{else}}Full screen{{/if}} </button>

					<button data-action="open/join" class="media-sharing-control" title="Open or Join Room"> Open or Join Room </button>
					<button data-action="disconnect" class="media-sharing-control" title="Disconnect"> Disconnect </button>
					<button data-action="exit" class="media-sharing-control" title="Exit"> Exit </button>
				{{/if}}
			</div>
		</div>
	</section>
</template>