.media-sharing {
	width: 100%;
    height: 100%;
    min-height: 90pt;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    align-content: flex-end;
}

.media-sharing.screen-sharing-widget {
    background-color: #212121;
}

.media-sharing .video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    position: absolute;
    align-content: center;
    justify-content: center;
    min-height: 90pt;
}

.media-sharing .video-container video{
    max-width: 100%;
    max-height: 100%;

    display: block;
    object-fit: contain;
    object-position: center;
    box-sizing: content-box;
}

.media-sharing .controls-container {
    z-index: 20;
    width: 100%;
    height: 50px;
    bottom: 10px;
    display: flex;
    position: absolute;
    justify-content: center;

    opacity: 0;
    transition: opacity 70ms 3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
.media-sharing .controls-container:hover{
    opacity: 1;
    transition: opacity 100ms 50ms ease-out;
}

.media-sharing .controls-container .controls {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;

    position: relative;
    border-radius: 10pt;
    min-width: 200px;
    max-width: 100%;
    background-color: #00000085;
}



.media-sharing .media-sharing-control{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
    word-break: break-all;
}